<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">



    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">{{'Kişi ismi'}}</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">{{'Home' | translate}}</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">{{'Diets' |
                    translate}}</span></a>
        </li>

        <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">{{'Diseases' | translate}}</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">{{'Patient' | translate}}</span>
            </a>
        </li>
    </ul>
    <div class="w-100">
        <a (click)="setLang('tr')" class="lang__selection lang p-2">
            <i class="flag-icon flag-icon-tr rounded-circle"></i>
        </a>
        <a (click)="setLang('en')" class="lang__selection lang p-2">
            <i class="flag-icon flag-icon-us rounded-circle"></i>
        </a>
    </div>
</div>