<div ma-dialog-title class="institution-dialog__header">
    <div class="institution-dialog__modal-header d-flex justify-content-between mx-1">
        <h2>{{ "Disease Transactions" | translate }}</h2>
        <a [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>
<mat-dialog-content class="mat-typography institution-dialog__content">
    <form #addDiseaseForm="ngForm" (ngSubmit)="onSave(addDiseaseForm)">
        <div class="form-group mt-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "Disease Name" | translate }}</mat-label>
                <input matInput maxlength="50" type="text" placeholder="{{ 'Enter Disease Name' | translate }}"
                    name="Name" #Name="ngModel" [(ngModel)]="_model.Name" required />
                <mat-error *ngIf="Name.invalid && Name.touched">
                    {{ "Disease Name field must be filled" | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100">
                {{ "Save" | translate }}
            </button>
        </div>
    </form>
</mat-dialog-content>