<div class="row w-100">
    <div class="col-4 add-button pt-2">
        <button type="button" class="btn btn-sm btn-outline-success" (click)="openAddPatient()">
            <i class="fas fa-plus"></i> {{ "Add Patient" | translate }}
        </button>
    </div>
    <div class="col-8 ml-auto text-right pr-2 d-flex justify-content-end">
        <mat-form-field>
            <mat-label>{{ "Search" | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="searchText"
                placeholder="{{ 'Enter Words for Search' | translate }}" name="SearchText" />
            <a type="button" matSuffix [attr.aria-label]="'Search'">
                <mat-icon>search</mat-icon>
            </a>
        </mat-form-field>
    </div>
</div>
<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ 'TC' | translate }}</th>
                    <th>{{ 'Name Surname' | translate }}</th>
                    <th>{{ 'Disease' | translate }}</th>
                    <th>{{ 'Diet' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients | filter:searchText">
                    <td> {{ patient.TC }} </td>
                    <td> {{ patient.Name }} {{ patient.Surname }}</td>
                    <td> {{ findDisease(patient.DiseaseId)}}</td>
                    <td> {{ findDiet(patient.DietId)}}</td>
                    <td class="list-button text-right">
                        <a mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="list-menu">more_vert</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item (click)="openAddPatient(patient.id)">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'Edit' | translate }}</span>
                            </a>
                            <a mat-menu-item (click)="openInfo(patient.id)">
                                <mat-icon>info</mat-icon>
                                <span>{{ 'Info' | translate }}</span>
                            </a>
                            <a mat-menu-item (click)="patientDelete(patient.id)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'Delete' | translate }}</span>
                            </a>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>