<div class="row w-100">
    <div class="col-4 add-button pt-2">
        <button type="button" class="btn btn-sm btn-outline-success" (click)="openAddDiet()">
            <i class="fas fa-plus"></i> {{ "Add Diet" | translate }}
        </button>
    </div>
    <div class="col-8 ml-auto text-right pr-2 d-flex justify-content-end">
        <mat-form-field>
            <mat-label>{{ "Search" | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="searchText"
                placeholder="{{ 'Enter Words for Search' | translate }}" name="SearchText" />
            <a type="button" matSuffix [attr.aria-label]="'Search'">
                <mat-icon>search</mat-icon>
            </a>
        </mat-form-field>
    </div>
</div>
<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ 'Diet Name' | translate }}</th>
                    <th>{{"Monday" | translate}}</th>
                    <th>{{"Tuesday" | translate}}</th>
                    <th>{{"Wednesday" | translate}}</th>
                    <th>{{"Thursday" | translate}}</th>
                    <th>{{"Friday" | translate}}</th>
                    <th>{{"Saturday" | translate}}</th>
                    <th>{{"Sunday" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let diet of diets | filter:searchText">
                    <td> {{ diet.Name }}</td>
                    <td> {{ diet.Monday }}</td>
                    <td> {{ diet.Tuesday }}</td>
                    <td> {{ diet.Wednesday }}</td>
                    <td> {{ diet.Thursday }}</td>
                    <td> {{ diet.Friday }}</td>
                    <td> {{ diet.Saturday }}</td>
                    <td> {{ diet.Sunday }}</td>
                    <td class="list-button text-right">
                        <a mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="list-menu">more_vert</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item (click)="openAddDiet(diet.id)">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'Edit' | translate }}</span>
                            </a>
                            <a mat-menu-item (click)="dietDelete(diet.id)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'Delete' | translate }}</span>
                            </a>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>